GAMES_PATH = "games.pgn" # path to games pgn (lichess db recommended)
BOARDS_SIZE = 100007 # amount of positions to get from games (prime number recommended) (optional)
ENGINE_PATH = "/path/to/engine" # path to engine uci (stockfish recommended)
ENGINE_DEPTH = 12 # (optional)